{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Expired and Expiring Soon Products</h4>
                </div>
            </div>
        </div>  

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Expired Products</h4>
        
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Category</th>
                                        <th>Quantities</th>
                                        <th>Price</th>
                                        <th>Expiry Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in expired %}
                                        <tr>
                                            <td>{{ product.title }}</td>
                                            <td>{{ product.category }}</td>
                                            <td>{{ product.quantity }}</td>
                                            <td>Ksh {{ product.price }}</td>
                                            <td>{{ product.expiry_date }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="4">No expired products</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Expiring Soon</h4>
        
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Category</th>
                                        <th>Quantities</th>
                                        <th>Price</th>
                                        <th>Expiry Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in expiring_soon %}
                                        <tr>
                                            <td>{{ product.title }}</td>
                                            <td>{{ product.category }}</td>
                                            <td>{{ product.quantity }}</td>
                                            <td>Ksh {{ product.price }}</td>
                                            <td>{{ product.expiry_date }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="4">No products expiring soon</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>

        </div>
        
    </div>
</div>
{% endblock content %}
