{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style>
    .custom-card-group {
        margin-right: 0px; /* Adjust as needed */
        margin-left: 0px;  /* Adjust as needed */
    }

    .custom-card {
        padding: 0px; /* Adjust as needed */
    }

    .custom-card-body {
        padding: 5px;
        font-size: 10px; /* Adjust as needed */
    }
</style>
<div class="page-content">
    <div class="container-fluid">
        <div class="row mb-4 justify-content-center align-items-center">
            <div class="col-md-12">
                <!-- Filter Form -->
                <form method="GET">
                    <div class="form-group row justify-content-center align-items-center">
                        <div class="col-12 col-md-4 mb-3">
                            <select name="category" class="custom-select form-control custom-select-lg" style="border-radius: 10px;">
                                <option value="">Select Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <input type="text" name="title" class="form-control form-control-lg" placeholder="Product Name" style="border-radius: 10px;">
                        </div>
                        <div class="col-12 col-md-2 mb-3">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Enter</button>
                        </div>
                    </div>
                </form>
                
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Our Products</h2>
                <div class="card-group custom-card-group">
                    {% for product in products %}
                    <div class="col-md-2 custom-card">
                        <!-- Product Card Here -->
                        <a href="{% url 'pos:add_cart' product.id %}">
                            <div class="card mb-0">
                                <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.title }}" style="height: 50px; object-fit: cover;">
                                <div class="card-body custom-card-body text-center">
                                    <p class="card-text mb-0">{{ product.title }}</p>
                                    {% if product.brand %}
                                    <p class="card-text">Brand: {{ product.brand }}</p>
                                    {% endif %}
                                    <!-- Display Units if not null -->
                                    {% if product.units %}
                                    <p class="card-text">Units: {{ product.units }}</p>
                                    {% endif %}
                                    <p class="card-text mb-0">In Stock: {{ product.quantity }}</p>
                                    <p class="card-text">Ksh {{ product.price }}</p>
                                    <!-- Add more fields as needed -->
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                    </div>
                    <div class="card-group custom-card-group">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <!-- Buttons -->
                        <div class="row">
                            {% for method in payment_methods %}
                            <div class="col-md-6 text-center mb-3">
                                <a href="#" class="btn btn-primary btn-lg w-100" data-toggle="modal" data-target="#checkoutModal">{{ method.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
               
                
            </div>
            

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Cart ({{ count }})
                    </div>
                    <div class="card-body">
                       
            
                        <!-- Iterate over cart items -->
                        {% for item in cart %}
                        <div class="row mb-3">
                            <!-- Product Image Column (4 cols) -->
                            <!-- You can add the product image here if needed -->
            
                            <!-- Product Name and Quantity Column (6 cols) -->
                            <div class="col-md-8">
                                <h5 class="card-title text-center">{{ item.product.title }}</h5>
                                <p class="text-center">Products Remaining: {{ item.product.quantity }}</p>
                            </div>
            
                            <!-- Product Price Column (2 cols) -->
                            <div class="col-md-4 text-right">
                                <p>Ksh {{ item.product.price }}</p>
                            </div>
                        </div>
                        <div class="row text-center mb-3">
                            <div class="col-md-6">
                                <a href="{% url 'pos:remove_cart_item' item.id %}" class="btn btn-primary waves-effect waves-light">Remove</a>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                                    <a href="{% url 'pos:decrement_cart_item' item.id %}" class="btn btn-primary waves-effect waves-light"> - </a>
                                    <button type="button" class="btn btn-primary waves-effect">{{ item.quantity }}</button>
                                    <a href="{% url 'pos:increment_cart_item' item.id %}" class="btn btn-primary waves-effect waves-light"> + </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                       
                        
                        
                    </div>
                    <div class="card-footer text-center">
                       
                        <button type="button" class="btn btn-primary waves-effect waves-light">
                            Total (Ksh  {{ total }})
                        </button>
                        {% if carts.add_vat %}
                        <a href="{% url 'pos:toggle_vat' %}" class="btn btn-danger waves-effect waves-light">Remove VAT ({{vat}})</a>
                        {% else %}
                            <a href="{% url 'pos:toggle_vat' %}" class="btn btn-danger waves-effect waves-light">VAT ({{vat}})</a>
                        {% endif %}
                        <button type="button" class="btn btn-primary waves-effect waves-light">
                            Payable (Ksh  {{ carts.total_payable }})
                        </button>

                       <br><br/>
                       <form method="post" action="{% url 'pos:update_discount' %}">
                        {% csrf_token %}
                        
                        <div class="row text-center mb-3">
                            <div class="col-md-12">
                                <label for="discount">Discount Amount:</label>
                                <input type="number" name="new_discount" id="discount" class="form-control" value="{{ carts.discount}}">
                            </div>
                        </div>
                        
                        <div class="row text-center mb-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Update Discount</button>
                            </div>
                        </div>
                    </form>
                    
                     
                        
                           
                       


                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form method="get">
                            <div class="form-group">
                                <input type="text" id="buyer_name" name="buyer_name" class="form-control" placeholder="Enter Buyer Name or Phone Number">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                        </form>
                        
                        {% if buyers %}
                     
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone Number</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for buyer in buyers %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ buyer.first_name }}</td>
                                    <td>{{ buyer.last_name }}</td>
                                    <td>{{ buyer.phone_number }}</td>
                                    <td>{{ buyer.points }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>


<!-- Checkout Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!-- Centered row for icon -->
                <div class="row justify-content-center">
                    <div class="col-12">
                        <i class="fas fa-exclamation-circle fa-5x text-danger"></i>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to Complete a Sale of  <b>ksh  {{ carts.total_payable }}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="{% url 'pos:checkout'%}" class="btn btn-primary">Confirm</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
