{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Products Received</h4>
                </div>
            </div>
        </div>  

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Mails</h4>
        
                        {% if notifications %}
                        <ul>
                            {% for notification in notifications %}
                                <li>{{ notification.receiver }}{% if notification.cc %} (CC: {{ notification.cc }}){% endif %}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No notifications available.</p>
                    {% endif %}
                        <div class="text-center mt-3">
                            <a href="{% url 'product:receivings' %}" class="btn btn-primary">Receive Products</a>
                        </div>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>

        </div>
        
    </div>
</div>
{% endblock content %}
