{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Notification Email</h4>
                </div>
            </div>
        </div>  

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                       
        
                        {% if notifications %}
                       
                        <div class="alert alert-info text-center" role="alert">
                            {% for notification in notifications %}
                            {{ notification.receiver }}{% if notification.cc %} (CC: {{ notification.cc }}){% endif %}
                        {% endfor %}
                          </div>

                        <div class="text-center mt-3">
                            <a href="{% url 'pos:create_mails' %}" class="btn btn-primary">Update Notification Mails</a>
                        </div>
                    {% else %}
                        
                        <div class="text-center mt-3">
                            <p>No Email available.</p>
                            <a href="{% url 'pos:create_mails' %}" class="btn btn-primary">Add Notification Mails</a>
                        </div>
                    {% endif %}
                       
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>

        </div>
        
    </div>
</div>
{% endblock content %}
