{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card border-success text-center">
                    <div class="card-body">
                                <h6 class="mb-0 text-center">
                                >>
                                </h6>
                    </div>
                </div>
            </div> <!-- end col-->
        
            <div class="col-md-6 col-xl-3">
                <div class="card border-success text-center">
                    <div class="card-body">
                                <h6 class="mb-0 text-center">
                                    Total {{total}}
                                </h6>
                    </div>
                </div>
            </div> <!-- end col-->
            <div class="col-md-6 col-xl-3">
                <div class="card border-success text-center">
                    <div class="card-body">
                                <h6 class="mb-0 text-center">
                                    VAT {{total_vat}}
                                </h6>
                    </div>
                </div>
            </div> <!-- end col-->
        
            <div class="col-md-6 col-xl-3">
                <div class="card border-success text-center">
                    <div class="card-body">
                                <h6 class="mb-0 text-center">
                                    NET VALUE {{total_paid}}
                                </h6>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        
        <!-- end row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                 
                    <div class="card-body">
                        
                        <canvas id="categorySalesBarChart" width="400" height="200"></canvas>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-4">sales</h4>
                        <form method="get" class="mb-4 mx-auto">
                            <div class="row justify-content-center">
                                <div class="col-md-8"> <!-- Set the form to take up 8 columns -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="start_date">Start Date</label>
                                                <input type="date" class="form-control" id="start_date" name="start_date" value="{{ request.GET.start_date }}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="end_date">End Date</label>
                                                <input type="date" class="form-control" id="end_date" name="end_date" value="{{ request.GET.end_date }}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {% if s_date and e_date %}
                                                <a href="{% url 'pos:sales_h' %}" class="btn btn-primary mt-4 btn-block">Show all</a>
                                                {%else%}
                                                <button type="submit" class="btn btn-primary mt-4 btn-block">Filter</button>
                                                {%endif%}
                                            </div>
                                        </div>
                                    </div>
                                    {% if s_date and e_date %}
                                    <div class="row text-center">
                                        <div class="col-12 mx-auto">
                                            <div class="alert alert-info" role="alert">
                                                Showing sales for the date range: {{ s_date }} to {{ e_date }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                
                                    
                                </div>
                            </div>
                        </form>
                        
                        
                        
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Sale ID</th>
                                        <th>Date</th>
                                        <th>Total Amount</th>
                                        <th>VAT</th>
                                        <th>Net Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in sales_page %}
                                    <tr>
                                        <th scope="row">{{ sale.id }}</th>
                                        <td>{{ sale.sale_date|date:"F j, Y" }}</td>
                                        <td>Ksh {{ sale.total_amount }}</td>
                                        <td>Ksh {{ sale.vat }}</td>
                                        <td>Ksh {{ sale.total_paid }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="3">No sales recorded for this period</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card-body-->
                                    <!-- Add the table code here as shown in the previous response -->

                <!-- Pagination links -->
                <div class="pagination">
                    <span class="step-links">
                        {% if page.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page.previous_page_number }}">previous</a>
                        {% endif %}
                        
                        <span class="current-page">{{ page.number }}</span>
                        
                        {% if page.has_next %}
                            <a href="?page={{ page.next_page_number }}">next</a>
                            <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>

                </div>
                <!-- end card -->                

            </div>
        </div>
        
    </div>
</div>
{% endblock content %}


