{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Today Sales</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Date</a></li>
                            <li class="breadcrumb-item active">{{ date }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>  

        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Ksh. {{ total_sales_amount }}</h4>
        
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Cashier</th>
                                        <th>Amount</th>
                                        <th>Sale Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in sales %}
                                        <tr>
                                            <td>{{ sale.user.username }}</td>
                                            <td><a href="{% url 'pos:sale' sale.id %}">Ksh {{ sale.total_amount }}</a></td>
                                            <td>{{ sale.sale_date }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="3">No sales recorded today.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
        
                        <!-- Pagination links -->
                        <div class="mt-4">
                            <ul class="pagination justify-content-center">
                                {% if sales.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ sales.previous_page_number }}">Previous</a></li>
                                {% endif %}
                                <li class="page-item active"><span class="page-link">{{ sales.number }}</span></li>
                                {% if sales.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ sales.next_page_number }}">Next</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ sales.paginator.num_pages }}">Last</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- End pagination links -->
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->


            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Sale ID: {{sale.id}}</h4>
        
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantities Sold</th>
                                        <th>Unit Price</th>
                                       
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for  product in today_sales %}
                                        <tr>
                                            <td>{{ product.product.title }}</td>
                                            <td>{{ product.quantity_sold }}</td>
                                            <td>Ksh {{ product.unit_price }}</td>
                                           
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="3">Click on a sale for Particulars</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        
                        <canvas id="salesBarChart" width="400" height="200"></canvas>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}


