{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h2 class="card-title text-center">Receive Products</h2>
                        <form method="post" id="receiveForm">
                            {% csrf_token %}

                            <div class="form-group">
                                {{ form.supplier.label_tag }}
                                {{ form.supplier }}
                                {% if form.supplier.errors %}
                                    <div class="text-danger">
                                        {{ form.supplier.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                               {{form.products|as_crispy_field}}
                            </div>

                            <div class="form-group">
                                {{ form.product_quantity.label_tag }}
                                {{ form.product_quantity }}
                                {% if form.product_quantity.errors %}
                                    <div class="text-danger">
                                        {{ form.product_quantity.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.product_unit_price.label_tag }}
                                {{ form.product_unit_price }}
                                {% if form.product_unit_price.errors %}
                                    <div class="text-danger">
                                        {{ form.product_unit_price.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Receive Products</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript to handle dynamically updating products and initial unit price based on the selected supplier
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOMContentLoaded event fired');

        const supplierSelect = document.getElementById('supplier-select');
        const productsSelect = document.getElementById('products-select');
        const productPrice = document.getElementById('product-price');
        const supplierWithProducts = {{ supplier_with_products|safe }};
        let productsForSelectedSupplier = [];

        if (!supplierSelect || !productsSelect || !productPrice) {
            console.error('Could not find the supplier, products, or product price element.');
            return;
        }

        supplierSelect.addEventListener('change', function () {
            const selectedSupplierId = supplierSelect.value;
            console.log('Selected supplier ID:', selectedSupplierId);

            // Retrieve products for the selected supplier from the pre-loaded data
            const productsForSelectedSupplierString = supplierWithProducts[selectedSupplierId];
            productsForSelectedSupplier = JSON.parse(productsForSelectedSupplierString);
            console.log('Products for selected supplier:');

            // Clear existing options
            productsSelect.innerHTML = '';

            // Add new options based on the fetched data
            productsForSelectedSupplier.forEach(product => {
                const option = document.createElement('option');
                option.value = product.pk; // Use the appropriate property for the value
                option.textContent = product.fields.title;
                productsSelect.appendChild(option);
            });

            // Optionally, trigger a change event on the productsSelect element
            const event = new Event('change');
            productsSelect.dispatchEvent(event);

            // Update the product price based on the initially selected product
            if (productsSelect.selectedIndex !== -1) {
                const selectedProductId = productsSelect.value;
                const selectedProduct = productsForSelectedSupplier.find(product => product.pk == selectedProductId);
                console.log('Selected product price:', selectedProduct.fields.price);

                // Set the product price to the productPrice field
                productPrice.value = selectedProduct.fields.price;
            }
        });

        productsSelect.addEventListener('change', function () {
            const selectedProductId = productsSelect.value;
            const selectedProduct = productsForSelectedSupplier.find(product => product.pk == selectedProductId);
            console.log('Selected product price:', selectedProduct.fields.price);

            // Set the product price to the productPrice field
            productPrice.value = selectedProduct.fields.price;
        });
    });
</script>


{% endblock content %}
