{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18"> Stock take ID :{{stock.id}} taken on {{stock.stock_date}}</h4>

                    
                </div>
            </div>
        </div>  
        
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4"> All products to be updated</h4>
                        
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Product</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stock_take_item in stock.stocktakeitem_set.all %}
                                    <tr>
                                        <td>{{ stock_take_item.product.id }}</td>
                                        <td>{{ stock_take_item.product.title }}</td>
                                        <td>{{ stock_take_item.product.category }}</td>
                                        <td>{{ stock_take_item.product.price }}</td>
                                        <td>{{ stock_take_item.quantity_counted }}</td>
                                        <td><a href="{% url 'product:update_stock' stock.id stock_take_item.id %}">Update stock</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->


           
            <!-- end col -->
        </div>
        
    </div>
</div>
{% endblock content %}


