{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-center">
                    <h4 class="mb-0 font-size-18" style="color: #F5772B;">Stock Take History</h4>

                    
                </div>
            </div>
        </div>  
        
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body alert-info">
                        <h4 class="card-title mb-4 text-center" style="color: #F5772B;">Select / Create stock to take action</h4>
                        
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Stock Date</th>
                                        <th>Stock taken by</th>
                                        <th>Products Counted</th>
                                        <th>Stock status</th>
                                        <th>Stock Value</th>
                                        <th>Counted Value</th>
                                        <th>Difference</th>
                                        <th>Update Counts</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if stocks %}
                                        {% for stock in stocks %}
                                        <tr>
                                            <td>{{ stock.id }}</td>
                                            <td>{{ stock.stock_date }}</td>
                                            <td>{{ stock.user }}</td>
                                            <td>{{ stock.stocktakeitem_set.count }}</td>
                                            <td>
                                                {% if stock.stock_balanced %}
                                                <p class="text-success">Balanced</p>
                                                {%else%}
                                                <p class="text-danger">Negative</p>
                                                {% endif %}
                                            </td>
                                            <td class="text-success">{{ stock.stock_value }}</td>
                                            <td>
                                                {% if stock.balanced%}
                                                <p class="text-success">{{ stock.value }}</p>
                                                {%else%}
                                                <p class="text-danger">{{ stock.value }}</p>
                                                {%endif%}
                                            </td>
                                            <td>
                                                {% if stock.balanced %}
                                                <p class="text-success">{{ stock.difference }}</p>
                                                {% else %}
                                                <p class="text-danger">{{ stock.difference }}</p>
                                                {% endif %}
                                            </td>
                                            <td><a href="{% url 'product:stock_detail' stock.id %}">Update counts</a></td>
                                            <td>
                                               
                                                {% if user.is_authenticated and user.access_level == 1 %}
                                                <a href="#" onclick="confirmUpdate()" class="btn btn-primary">Submit Stock</a>
                                                <a href="#" onclick="confirmDelete()" class="btn btn-danger ml-2">Delete</a>
                                            {% endif %}
                                            
                                            </td>
                                        </tr>
                                        <script>
                                            function confirmUpdate() {
                                                var result = confirm("Are you sure you want to Submit the stock?");
                                                if (result) {
                                                    window.location.href = "{% url 'product:stock_update' stock.id %}";
                                                } 
                                            }
                                        </script>
                                        <script>
                                            function confirmDelete() {
                                                var result = confirm("Are you sure you want to Delete this Stock Take ?");
                                                if (result) {
                                                    window.location.href = "{% url 'product:delete_stock_take' stock.id %}";
                                                } 
                                            }
                                        </script>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="5">No stock taken yet</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <div class="col-12 text-center">
                                <a href="{% url 'product:create_stock_take' %}" class="btn btn-primary">Create New Stock</a>
                            </div>
                             
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->


           
            <!-- end col -->
        </div>
        
    </div>
</div>

{% endblock content %}


