{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="page-title-box">
                    <h4 class="mb-0 font-size-18">Health Today Product Suppliers</h4>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                       

                        {% if suppliers %}
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Company</th>
                                        <th>Contact Person</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Product Category</th>
                                        <th>Address</th>
                                        <th>Products</th>
                                        {% if user.is_authenticated %}
                                        {% if user.access_level == 1 or user.access_level == 2 %}
                                        <th>Action</th>
                                        {% endif %}
                                    {% endif %}
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for supplier in suppliers %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ supplier.name }}</td>
                                        <td>{{ supplier.contact_person }}</td>
                                        <td>{{ supplier.email }}</td>
                                        <td>{{ supplier.phone_number }}</td>
                                        <td>{{ supplier.address }}</td>
                                        <td>{{ supplier.category }}</td>
                                        <td>
                                            {% for product in supplier.products.all %}
                                                {{ product.title }}<br>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if user.is_authenticated %}
                                            {% if user.access_level == 1 or user.access_level == 2 %}
                                                
                                            <a href="{% url 'product:supplier_edit' pk=supplier.pk %}" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="fas fa-edit"></i>
                                            </a>

                                            <br><br>
                                            <!-- Delete Link -->
                                            <a href="{% url 'product:supplier_delete' pk=supplier.pk %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                            {% endif %}
                                        {% endif %}
                
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <p>No suppliers available.</p>
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if user.access_level == 1 or user.access_level == 2 %}
                                <div class="col-12 text-center">
                                    <a href="{% url 'product:supplier_create' %}" class="btn btn-primary">Add New Supplier</a>
                                </div>
                            {% endif %}
                        {% endif %}


                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->
        </div>

    </div>
</div>
{% endblock content %}
