{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Health Today - Health Living Style</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'main/images/icon.png' %}" type="image/x-icon">
       

        <script src="{% static 'invoice/js/jquery.min.js' %}"></script>
        <!-- App css -->
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'main/css/icons.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'main/css/theme.min.css' %}" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
        
  

    </head>

<body>
    {% include 'main/includes/navbar.html' %}
    {% include '../main/includes/messaging.html' %}
    
    {% block content %}
    
    {% endblock content %}
    {% include '../main/includes/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    <!-- App js -->
    <script src="{% static 'manage/js/theme.css' %}"></script>
    <script src="{% static 'dashboard/js/car_form.js' %}"></script>
    <script src="{% static 'dashboard/js/pages/chartjs-demo.js' %}"></script>

    <script src="{% static 'invoice/js/jspdf.debug.js' %}"></script>
    <script src="{% static 'invoice/js/html2canvas.min.js' %}"></script>
    <script src="{% static 'invoice/js/html2pdf.min.js' %}"></script>
    <script>
        // JavaScript to toggle password visibility
        document.querySelectorAll('.toggle-password').forEach(function(icon) {
            icon.addEventListener('click', function() {
                var input = icon.closest('.input-group').querySelector('input');
                if (input.type === 'password') {
                    input.type = 'text';
                } else {
                    input.type = 'password';
                }
            });
        });
    </script>

<script>
    // Parse the JSON data passed from Django view
    var salesData = JSON.parse('{{ sales_data_json|escapejs }}');

    var ctx = document.getElementById('salesBarChart').getContext('2d');
    var salesBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: salesData.sale_ids,
            datasets: [{
                label: 'Total Amount',
                data: salesData.total_amounts,
                backgroundColor: '#f5772b', // Change the bar color to #f5772b
                borderColor: '#f5772b',     // Change the border color to #f5772b
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: { // x-axis options
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Sales' // Label for the x-axis
                    }
                },
                y: { // y-axis options
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Total Amount (Ksh)'
                    }
                }
            },
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: 'Total Sales Amounts for the Current Date',
                position: 'top',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    formatter: (value, context) => {
                        return 'Ksh ' + value.toFixed(2);
                    },
                    color: '#000',
                    anchor: 'end',
                    align: 'end',
                },
            },
        }
    });
</script>

<script>
    // Parse the JSON data passed from Django view
    var salesData = JSON.parse('{{ sales_data|escapejs }}');

    // Extract labels (days of the week) and sales amounts from the JSON data
    var labels = salesData.map(function(item) {
        return item.day_of_week;
    });

    var salesAmounts = salesData.map(function(item) {
        return parseFloat(item.sales_amount);
    });

    // Define an array of colors for each day
    var barColors = ['#f5772b', '#2bf577', '#f52b77', '#77f52b', '#2b77f5', '#f5772b', '#777777'];

    var ctx = document.getElementById('salesBarChart').getContext('2d');
    var salesBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,  // Use extracted labels
            datasets: [{
                label: 'Total Amount',
                data: salesAmounts,  // Use extracted sales amounts
                backgroundColor: barColors,  // Use the array of colors
                borderColor: barColors,      // Use the array of colors
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: { // x-axis options
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Day of the Week' // Label for the x-axis
                    }
                },
                y: { // y-axis options
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Total Amount (Ksh)'
                    }
                }
            },
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: 'Total Sales Amounts for Each Day of the Week (Weekly Total: Ksh {{ total_sales_week }})', // Add weekly total
                position: 'top',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    formatter: (value, context) => {
                        return 'Ksh ' + value.toFixed(2);
                    },
                    color: '#000',
                    anchor: 'end',
                    align: 'end',
                },
            },
        }
    });
</script>

</body>
</html>
