{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                   <div class="row">
                    <div class="col-md-4">
                        <h4 class="card-title">Health Today</h4>
                                        <p class="card-subtitle mb-4">
                                            Order Online By Whatsapp
                                        </p>
                    </div>
                   <div class="col-md-8">
                    <form method="GET" class="mb-3">
                        <div class="d-flex">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" name="title" class="form-control form-control-lg" placeholder="Search Products Brands and Categories">
                            </div>
                            
                            <button type="submit" class="btn btn-primary ml-2">Search</button>
                        </div>
                    </form>
    
                    {% if request.GET.title %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="{% url 'main:index' %}" class="btn btn-primary">Show All</a>
                        </div>
                    </div>
                    {% endif %}
                   </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group mb-4 border-0">
                        {% for category in categories %}
                            <li class="list-group-item text-center border-0">
                                <a href="{% url 'main:index' %}?category={{ category.id }}">{{ category.name }}</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item border-0">No Categories Available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            <div id="carouselExampleCaption" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {% for product in top_10_products %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div style="position: relative;">
                                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="d-block img-fluid" style="width: 100%; height: 450px; object-fit: cover; border-radius: 10px;">
                                <div class="carousel-caption d-block">
                                    <div style="background-color: rgba(0, 0, 0, 0.7); padding: 30px; display: inline-block; border-radius: 10px;">
                                        <h3 class="text-white">{{ product.title }}</h3>
                                        <a href="https://wa.me/+254106770531?text=I%20want%20to%20order%20{{ product.title }}" class="btn btn-success" style="border-radius: 10px;">
                                            <i class="fab fa-whatsapp"></i> Order via WhatsApp
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaption" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaption" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

   
    <div id="categoryCarousel" class="carousel slide mt-2" data-ride="false">
        <div class="carousel-inner">
            {% for category in categories %}
                {% if forloop.counter0|divisibleby:6 %}
                    {% if forloop.counter0 == 0 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                    <div class="row">
                {% endif %}
                
                <div class="col-md-2">
                    <a href="{% url 'main:index' %}?category={{ category.id }}" style="text-decoration: none;">
                        <div class="card bg-success border-success text-center">
                            <div class="card-body text-center">
                                <p class="text-white">{{ category.name }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                
                {% if forloop.counter|divisibleby:6 or forloop.last %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#categoryCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#categoryCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    
    
    

<div class="row mt-2">
    <div class="col-md-12">
   
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 168px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">Price: Ksh  {{ product.price }}</p>
                            <p class="card-text">Quantity: {{ product.quantity }}</p>
                            <!-- Add more fields as needed -->
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://wa.me/+254106770531?text=I%20want%20to%20order%20{{ product.title }}" class="btn btn-primary">
                                <i class="fab fa-whatsapp"></i> Order via WhatsApp
                            </a>
                        </div>
                        
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% empty %}
                <div class="col-12 text-center">
                    <p>No Products available</p>
                </div>
            {% endfor %}
        </div>

            <!-- Pagination Links (Centered) -->
            <div class="col-12 text-center">
                <ul class="pagination pagination-lg d-flex justify-content-center">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link waves-effect" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in products.paginator.page_range %}
                        <li class="page-item {% if products.number == i %}active{% endif %}">
                            <a class="page-link waves-effect" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link waves-effect" href="?page={{ products.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect" href="?page={{ products.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        
    </div>
</div>

</div>
{% endblock content %}
